.custom-slider-container {
  width: 100%!important;;
  /* height: 100vh!important;; Full viewport height */
  position: relative;
  overflow: hidden;
   border-radius: 0!important;
}

.custom-slider {
  width: 100%!important;;
  height: 100%!important;;
  border-radius: 0!important;
}

.custom-slide-img {
  width: 100%!important;;
  height: 100%!important;;
  object-fit: cover;
  border-radius: 0!important; /* No rounded corners */
}
